.scroll-to-top {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    animation: fadeIn 700ms ease-in-out 1s both;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 80%;
        border-radius: 65%;
        border: #0dc0e0 1px solid;
        box-shadow: 3px 5px 5px 0px #0dc0e0;
    }
}

.ArrowUp{
    background: #21094e;
    border-radius: 65%;
}