.movie_schedule_wrap{
}
.movie_schedule_title {
    display: inline-block;
    text-align: left;
}

.movie_schedule_title h2 {
    display: inline-block;
    font-family: 'Futurab';
    font-weight: bold;
    font-size: 36px;
    line-height: 32px;
    text-transform: uppercase;
    text-shadow: 6px 6px 0 rgb(0 0 0 / 90%);
}

.movie_schedule_content {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5px;
    color: black;
    height: 100%;
    width: 100%;
    text-align: left;
    background-color: rgb(59, 59, 59, 0.8);
}

.movie_schedule_content .calendar {
    display: inline-flex;
    border-top: 2px solid rgb(103, 26, 204);
}

.calendar span {
    color: white;
    cursor: pointer;
    height: 60px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border: 2px solid rgb(103, 26, 204);
    border-radius: 10%;
    box-shadow: 3px 3px 5px 1px rgb(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.calendar span:hover {
    color: black;
    background-color: rgb(103, 26, 204);
    box-shadow: 3px 3px 5px 1px rgb(0, 0, 0, 0.7);
}