.Login {
    width: 100%;
    display: inline-block;
}
.Login .form-control {
    border-radius: 30px;
}
.Login button.btnLog, button.btnForget  {
    margin-left: 30%;
    border-radius: 20px;
}
.forget-password span a{
    color: bisque;
    text-decoration: none;
}
.active-account{
    position: absolute;
    right: 40px;
}
.Login button.btnLog:hover {
    box-shadow: 2px 2px #1467e46e, 2px 2px #1467e46e, 3px 3px #1467e46e;
    border: 1px solid #1467e46e;
}
.Login .social-login{
    text-align: center;
}
.Login .social-login img{
    height: 18px;
    width: 18px;
}
.Login .social-login span a{
    color: bisque;
    text-decoration: none;
    margin: 10px;
    padding-bottom: 30px;
}
.Login .social-login span a.fb:hover{
    color: #2e88f0;
}
.Login .social-login span a.gg:hover{
    color: #f03b2e;
}
.Login .forget-password > span:hover{
    color: #ff0000;
    cursor: pointer;
}