body{
  line-height: 1;
}
.App {
  display: block;
  text-align: center;
  color: white;
  background-image: url('../images/BackGround.jpg');
  background-size: cover;
  height: fit-content;
  width: 100%;
}

.container-fluid {
  position: sticky;
  background-color: rgba(0, 0, 0, 0.7);
  height: 10vmin;
  top: 0;
  padding: 8px;
  left: 0px;
  z-index: 20;
}

.HeaderTop {
  position: sticky;
  font-size: 1.2em;
  top: 0;
  padding: 3px;
  left: 0px;
  z-index: 20;
}

.logo {
  position: absolute;
  display: inline;
  left: -30px;
  width: 90px;
  height: 70px;
  background: url(../images/Logo.jpg) no-repeat center center;
  background-size: contain;
  z-index: 100;
  cursor: pointer;
}

.navbox {
  display: inline-block;
  align-items: center;
  height: 5vmin;
  background-color: #21094e;
  position: relative;
  padding: 2px;
  border: 1px solid #21094e;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  vertical-align: middle;
}

.navbox ul {
  position: relative;
  background-color: #2d096e;
  border-radius: 30px;
  height: 4vmin;
  -webkit-border-radius: 30px;
  overflow: hidden;
  padding: 3px;
}

.navbox li {
  display: inline;
  float: left;
  width: 18vmin;
  height: 4vmin;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  background: none;
  padding-top: 7px;
}

.navbox li:hover {
  cursor: pointer;
  background-color: #e00d7a;
  border-color: #e00d7a;
}

a.item {
  text-decoration: none;
  color: #fff !important;
  margin-top: 4em;
}
a.item:first-child > li{
  border-radius: 30 0 0 30;
  -webkit-border-radius: 30px 0 0 30px;
}
a.item:last-child > li{
  border-radius: 0 30 30 0;
  -webkit-border-radius: 0 30px 30px 0;
}
.navitem a:hover {
  text-decoration: none;
}

.register-content {
  position: relative;
  color: #2d096e;
  width: 100%;
  height: 60px;
  background: url(../images/pattern.png) repeat center top;
  background-clip: border-box;
  -webkit-background-clip: border-box;
  border-bottom: 1px solid #fff;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.register-wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  z-index: 19;
}

.register-wrap ul {
  display: inline-block;
  overflow: hidden;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

ol, ul {
  list-style: none;
  margin: 2px;
  border: 0;
  vertical-align: baseline;
}

.register-wrap ul li.btn-register {
  height: 50px;
  background-size: 50px !important;
  background-position: left 8px;
  background: url(../images/icons/icon-register.jpg) no-repeat left 1px;
}

.register-wrap ul li {
  float: left;
  margin-right: 30px;
}

li {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.register-wrap ul li.btn-register button {
  padding: 18px 0 23px 60px;
  display: block;
  border: none;
  background-color: transparent;
}
.register-wrap ul li button {
  font-family: 'MyriadCondensed';
  font-size: 16px;
  transition: none;
  -webkit-transition: none;
  text-transform: uppercase;
  color: #21094e !important;
}

.register-wrap ul li button:hover {
  text-decoration: none;
  color: #e00d7a !important;
}

.register-wrap ul li {
  float: left;
  margin-right: 30px;
}

.register-wrap ul li.btn-login {
  height: 50px;
  background-size: 40px !important;
  background: url(../images/icons/icon-login.jpg) no-repeat left top;
}

.register-wrap ul li.btn-login button {
  padding: 18px 0 23px 42px;
  display: block;
  border: none;
  background-color: transparent;
}

.register-wrap ul li.btn-logout {
  height: 50px;
  background-size: 40px !important;
  background: url(../images/icons/icon-logout.jpg) no-repeat left top;
  margin-top: 8px;
}

.register-wrap ul li.btn-logout button {
  padding: 11px 0 23px 50px;
  display: block;
  border: none;
  background-color: transparent;
}

.hotline {
  float: right;
  font-family: 'Futurab';
  font-weight: normal;
  font-size: 30px;
  color: #e00d7a;
  background: url(../images/icons/icon-call.jpg) no-repeat left 7px;
  padding: 8px 0 18px 58px;
  margin-inline-start: 13em;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

li.hotline:hover {
  text-decoration: none;
  color: #2d096e;
}

.tab-register {
  position: relative;
  display: none;
}
.block-user .tab-register {
  position: absolute;
  left: 0px;
  width: 670px;
  height: auto;
  display: none;
}
.img-logo {
  height: 105px;
  width: 105px;
}

.slider-home {
  width: 100%;
  height: 500px;
  text-align: center;
}

.img-poster {
  max-height: fit-content;
  max-width: 100%;
}

.slide-item {
  position: relative;
  text-align: center;
}

.title-poster {
  position: absolute;
  color: white;
  left: 50%;
  bottom: 8px;
  transform: translate(-50%, -50%);
}

.cart-content {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 5;
  background-image: url(../images/line-bg.png), url(../images/pattern.png);
  background-repeat: repeat-x, repeat;
  background-position: left top, center top;
  background-size: contain, contain;
  -webkit-background-size: contain, contain;
}

.cart-wrap {
  display: block;
  width: 90%;
  height: 150px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.block-title {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: 100%;
  position: relative;
  line-height: 144px;
  z-index: 1;
  padding-left: 150px;
}

.block-title:before {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: -20px;
  width: 114px;
  height: 130px;
  background: url(../images/icon-ticket.png) no-repeat center center;
}

.block-title h2 {
  font-family: 'Futurab';
  font-weight: bold;
  font-size: 36px;
  color: #2d096e;
  line-height: 32px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  text-shadow: 4px 4px 0 rgb(0 0 0 / 10%);
  text-align: left;
}

.block-list {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  margin-top: 12px;
  max-width: 910px;
  text-align: center;
}

.select-list {
  position: relative;
  height: 48px;
  width: 290px;
  margin: 0 5px 12px 5px;
  display: inline-block;
}

.select-header {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0);
}

.select-list[data-cate='film'] .select-header {
  border-radius: 0 30px 30px 30px;
}

.select-list[data-cate='cine'] .select-header {
  border-radius: 30px 0 30px 30px;
}

.select-list[data-cate='hour'] .select-header {
  border-radius: 30px 30px 0 30px;
}

.select-list[data-cate='day'] .select-header {
  border-radius: 30px 30px 30px 0;
}

.select-header span {
  width: 40px;
  height: 48px;
  position: absolute;
  right: 0px;
  top: -2px;
  background: url(../images/select.png) no-repeat center center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.select-header h3 {
  display: block;
  padding: 0 40px 0 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #fff;
  line-height: 44px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: uppercase;
}
.select-header .dropdown-menu.show {
  background-color: rgba(0, 0, 0, 0.884);
  display: block;
  width: 100%;
}
.dropdown-item{
  color: #fbfbfb;
}
.dropdown-item::focus{
  color: #1d9feb;
}
.App .content-page {
  margin-bottom: 145px;
}

.content-page {
  position: relative;
  width: 100%;
  height: auto;
}

.nav-icon-content {
  position: relative;
  width: 100%;
  height: auto;
}

.nav-icon-wrap {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  max-width: 1300px;
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
}

.nav-icon-wrap li {
  display: inline-block;
  width: fit-content;
  margin: 0 25px 12px 5px;
}

.sub-tab {
  position: relative;
  display: block;
  width: 90%;
  height: auto;
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
}

.List_movies {
  display: inline-block;
}

.List_movies .card {
  width: 18rem;
  display: inline-block;
  border-radius: 30px 30px;
  margin: 10px;
  box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.7);
}

#Card_Text {
  overflow: hidden;
  width: fit-content;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#Card_body {
  background-color: #21094e;
}

.btn-primary {
  color: #fbfbfb;
  background-color: #e00d7a;
  border-color: #e00d7a;
}

.btn-text {
  color: #fbfbfb;
  background-color: #0dc0e0;
  border-color: #0dc0e0;
}

.nav-tabs {
  background-color: #21094e;
  border-radius: 0px 60px 0px 60px;
  border-bottom: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
  color: #fbfbfb;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fbfbfb;
  background-color: #e00d7a;
  border-color: #e00d7a;
  border-radius: 0px 60px 0px 60px;
}

.nav-tabs .nav-link:hover {
  color: #0dc0e0;
  border-color: #e00d7a;
  border-radius: 0px 60px 0px 60px;
}

.bottom {
  position: relative;
  width: 100%;
  min-height: 480px;
  padding-top: 46px;
  background: url(../images/line-bg.png) repeat-x left top;
  background-size: contain;
  -webkit-background-size: contain;
}

.bottom-nav {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  margin-bottom: 45px;
  text-align: center;
}

.bottom-wrap {
  display: inline-block;
  vertical-align: top;
  width: auto;
  text-align: right;
  padding-top: 40px;
}

.bottom-wrap a {
  color: #fff;
  text-decoration: none;
}

.bottom-wrap a:hover {
  color: #0dc0e0;
}

.bottom-wrap>div {
  display: inline-block;
  margin: 0 20px;
  vertical-align: top;
  text-align: center;
}

.bottom-wrap>div h2 {
  padding: 10px 20px;
  font-family: 'avantgarde-demi';
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  line-height: 26px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 10px;
  display: inline-block;
}

.bottom-wrap>div ul {
  width: auto;
  max-width: 300px;
  margin: 0;
}

.social ul li {
  display: inline-block;
}

.social ul li a {
  font-family: 'MyriadLight';
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  text-transform: inherit;
  color: #b3c4d5;
  display: block;
  line-height: 24px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  width: 54px;
  height: 54px;
  display: block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  background-size: cover;
  -webkit-background-size: cover;
  text-indent: 9999px;
  cursor: pointer;
  overflow: hidden;
}

.social ul li a.facebook {
  background: url(../images/scl_facebook.png) no-repeat center center;
}

.social ul li a.google {
  background: url(../images/scl_google.png) no-repeat center center;
}

.hotline-tel {
  display: block;
  font-family: 'avantgarde';
  font-weight: normal;
  font-size: 30px;
  color: #fff;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.bottom-nav-icon {
  display: block;
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}

.bottom-nav-icon ul {
  position: relative;
  width: auto;
}

.bottom-nav-icon ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

.bottom-nav-icon ul li a {
  display: block;
  line-height: 0;
  font-size: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.bottom-nav-icon ul li img {
  pointer-events: none;
}

.wrapper {
  padding: 10px;
}