/* examples/custom-animation.css */

@keyframes customEnterOverlayAnimation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes customLeaveOverlayAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes customEnterModalAnimation {
    0% {
        transform: scale(0.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes customLeaveModalAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.2);
    }
}

.customModal{
    color: white;
    background: #1467e46e;
    max-width: 1000px;
    max-height: 800px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
#my-modal-title{
    padding-top: 2em;
    padding-left: 1.3em;
}
#my-modal-description{
    padding-top: 1em;
    padding-left: 2em;
}
span.icon-modal{
    cursor: pointer;
}
span.icon-modal > img:hover{
    opacity: 70%;
}