@keyframes customEnterOverlayAnimation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes customLeaveOverlayAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes customEnterModalAnimation {
    0% {
        transform: scale(0.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes customLeaveModalAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.2);
    }
}

.customOverlay {
    background: #4e093760;
}

.ModalReg {
    color: bisque;
    background: #1467e46e;
    max-width: 550px;
    max-height: auto;
    width: 100%;
    border-radius: 20px;
}

.ModalLog {
    color: bisque;
    background: #1467e46e;
    max-width: 600px;
    max-height: auto;
    width: 100%;
    border-radius: 20px;
}