.customOverlay {
    background: #4e093760;
}

.ModalReg {
    color: bisque;
    background: #1467e46e;
    max-width: 550px;
    max-height: auto;
    width: 100%;
    border-radius: 20px;
}

.ModalLog {
    color: bisque;
    background: #1467e46e;
    max-width: 600px;
    max-height: auto;
    width: 100%;
    border-radius: 20px;
}