.Register {
    width: 500px;
    display: inline-block;
}

.Register .form-check {
    display: inline-block;
}

.Register .form-check .form-check-label {
    margin-right: 10px !important;
}

.Register .form-control {
    border-radius: 30px;
}

.Register .Name, .Tel {
    display: inline-block;
    padding-left: 0px !important;
}

.Register .Tel {
    padding-right: 0px !important;
}

.Register button.btnReg {
    margin-left: 30%;
    border-radius: 20px;
}

.Register button.btnReg:hover {
    box-shadow: 2px 2px #1467e46e, 2px 2px #1467e46e, 3px 3px #1467e46e;
    border: 1px solid #1467e46e;
}
.customOverlay {
    background: #00000093;
}


.Register .social-login{
    text-align: center;
}
.Register .social-login img{
    height: 18px;
    width: 18px;
}
.Register .social-login span a{
    color: bisque;
    text-decoration: none;
    margin: 10px;
    padding-bottom: 30px;
}
.Register .social-login span a.fb:hover{
    color: #2e88f0;
}
.Register .social-login span a.gg:hover{
    color: #f03b2e;
}
.Register .forget-password > span:hover{
    color: #ff0000;
    cursor: pointer;
}