.admin_main {
    background: white;
    display: block;
    text-align: left;
}

header.admin_header {
    display: inline;
    float: right;
    width: 100%;
    background-image: url('../images/18250.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header.admin_header>.admin_nav {
    display: inline;
}

header.admin_header .navbar-brand {
    display: inline;
    float: left;
    padding: 1em;
    text-transform: uppercase;
}

#dashboard {
    text-decoration: none;
    color: white;
    text-shadow: 5px 8px #000000;
}
#dashboard:hover {
    color: rgb(3, 146, 189);
}
.navbar-auth {
    display: inline;
    float: right;
    padding: 1em;
    list-style: none;
    list-style-type: none;
}

.navbar-auth li {
    display: inline;
    padding: 0.5em;
}

.admin_content {
    display: inline-flex;
    width: 100%;
}

.admin_content .admin_sliderbar {
    display: inline-flex;
    height: 2900px;
}

.admin_sliderbar .divider {
    height: 0.3vmax;
}

.admin_content .admin_sliderbar .tabs {
    background-image: url('../images/18250.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.MuiTab-wrapper {
    justify-content: start !important;
    flex-direction: row !important;
}

.tabLabel {
    padding-left: 10px;
}

.MuiTabs-indicator {
    border-right: 10px solid #9aa81e;
}

.admin_content .admin_sliderbar .tabs .tab:hover {
    background-color: #1976d2;
}

.admin_content .admin_sliderbar .tabs .tab:focus {
    background-color: #1976d29d;
}

.admin_content .admin_layout {
    color: black;
    display: flex;
    width: 100%;
}

/* -------css for feature add -------*/

.col-5 {
    margin-inline-end: 1em;
}

.addFeature-root {
    display: inline-flex;
}

.groupAdd-rap {}

.groupAdd-rap .groupControl-rap {
    display: flex;
    width: 480px;
    padding-left: 10px;
}

.input-TypeRap {
    width: 5em;
}

#datetime {
    width: 14em;
}

#textField-TenRap {
    width: 23.3em;
}

.textField-SizeRap {
    width: 3em;
}

.groupCauHinhGhe {
    display: inline;
}

.groupCauHinhGhe h6 {
    padding-left: 10px;
}

.groupSize {
    display: inline-block;
    margin-inline-end: 1em;
    width: 200px;
    padding-left: 1em;
}

.groupSize:hover {
    border-right: #d22519 2px solid;
}

.groupAdd-rap h4 {
    width: 480px;
    padding: 0.3em;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 3px 4px 0px #2d2f30;
    background-color: #2f8ce9;
}

.groupAdd-phim h4 {
    width: 480px;
    padding: 0.3em;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 3px 4px 0px #2d2f30;
    background-color: #2f8ce9;
}

.groupCumRap h4 {
    width: 480px;
    padding: 0.3em;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 3px 4px 0px #2d2f30;
    background-color: #2f8ce9;
}

.groupSuatChieu h4 {
    width: 480px;
    padding: 0.3em;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 3px 4px 0px #2d2f30;
    background-color: #2f8ce9;
}

/* ------- end css for feature add ------- */

/* ------- css for revenue -------*/

.revenue_main {
    display: block;
}

.revenue_content {
    width: 1690px;
    position: relative;
    border-top: 80px solid #2f8ce9;
    border-right: 100px solid transparent;
    margin-top: 20px;
}

.revenue_content h2 {
    position: absolute;
    padding: 20px;
    top: -80px;
}

/* ------- end css for revenue -------*/